.container {
  margin: auto;
  color: white;
  background-color: rgb(0, 132, 255);
  padding: 10px 100px;
  border-radius: 0px 20px 0px 20px;
  -webkit-border-radius: 0px 20px 0px 20px;
  -moz-border-radius: 0px 20px 0px 20px;
  -ms-border-radius: 0px 20px 0px 20px;
  -o-border-radius: 0px 20px 0px 20px;
  box-shadow: 5px 10px rgba(0, 0, 0, 0.3);
}
.container li {
  margin-top: 20px;
  font-size: 17px;
}
@media only screen and (max-width: 600px) {
  .container {
    width: 80%;
    padding: 10px;
    margin-top: 100px;
    background-color: blue;
  }
}
