* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  direction: rtl;
  padding: 10px;
  background-image: url("./pexels-johannes-plenio-1103970.jpg");
  background-size: cover;
  background-repeat: none;
}
@media only screen and (max-width: 600px) {
  body {
    background-size: auto;
  }
}
